html{
    box-sizing: border-box;
}
body {
    width: 100vw;
    margin: 0;
    font-family: Tahoma;
    font-size: 18px;
    height: auto;
  }

  img{
    object-fit: cover;
    width: 50px;
    float: left;
  }

.roam{
    width: 30px;
    height: 60px;
    background: -webkit-linear-gradient(90deg, rgb(239, 220, 192), rgb(170, 141, 80), rgb(153, 118, 41) );
    opacity: 0.4;
    animation: roam 10s ease-in-out infinite;
    margin: 0 auto;
    position:absolute;
    left: 0;
}
@keyframes roam {
    0% {
        left: -6%;
      }
    50% {
        left: 100%;
      }
    100% {
        left: -6%;    
      }
    }

footer{
    text-align: center;
    position: fixed;
   left: 0;
   bottom: 0;
    background-color: #0a0a23;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    padding: 0.3em;
    justify-content: center;
    color: white;


}

main{
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-columns:1fr 3fr 3fr;
    justify-content:space-around;
    gap: 40px;
    vertical-align: top;
    padding: 20px;
 }
 .collapse{
  margin:auto 0;
  position: ab;
  right: 0;
}
.btn{
  margin-top: 10px;
}
.main-question:hover{
  cursor: pointer;
}

@media screen and (max-width: 990px){
  .roam{
    display: none;
  }
}

@media screen and (max-width: 660px){
 .main{
  grid-template-columns:1fr ;
 }
 
}
@media screen and (max-width: 490px){
  .navbar{
    width: 140vw;
  }
}